@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 6px;
  }

  ::-webkit-scrollbar-track {
      /* Customize the scrollbar track */
      background-color: #00bcd4;
  } 
  
  ::-webkit-scrollbar-thumb {
      /* Customize the scrollbar thumb */
      background-color: #f44336;
      border-radius: 16px;
  }

@layer components {
  .hideMenuNav {
    @apply hidden;
  }
  .showMenuNav {
    @apply absolute w-screen h-screen top-[45px] right-[-39px] bg-white z-50 flex flex-col justify-evenly items-center pb-48;
  }

  .showMenuNav > * {
    @apply text-3xl;
  }
}
